body, h1, h2, ul, 
li, p, dd, dt, dl {
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background: #FAF6ED;
    color: #222222;
    -webkit-font-smoothing: antialiased;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

body .menu {
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #FB5;
}

body .menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

body .menu li a {
    display: block;
    padding: 15px 10px;
    margin-right: 10px;
    color: #222222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1em;
}

body .grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    gap: 20px;
    margin-bottom: 4rem;
}

body .grid-section.animals .title,
body .grid-section.faq .title,
body .grid-section.contact .title,
body .grid-section.numbers .title {
    font-family: 'Playfair Display SC', georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
}

body .grid-section.animals section h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #E54;
}

body .grid-section.animals section h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

body .grid-section.animals section p {
    font-family: Helvetica, Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
}

body .grid-section.animals .animals-list {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

body .grid-section.animals .animals-list::-webkit-scrollbar {
    width: 18px;
}

body .grid-section.animals .animals-list::-webkit-scrollbar-thumb {
    background: #FB5;
    border-left: 4px solid #FAF6ED;
    border-right: 4px solid #FAF6ED;
}

body .grid-section.animals .animals-list::-webkit-scrollbar-track {
    background: #FAF6ED;
}

body .grid-section.animals .animals-list li {
    cursor: pointer;
}

body .grid-section.animals .animals-description {
    grid-column: 3;
}

body .grid-section.animals .animals-description section {
    margin-bottom: 3rem;
}

body .grid-section.faq .faq-list {
    grid-column: 2 / 4;
}

body .grid-section.faq .faq-list dt {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #E54;
    cursor: pointer;
}

body .grid-section.faq .faq-list dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

body .grid-section.faq .faq-list dd {
    font-family: Helvetica, Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
}

body .grid-section.contact .map {
    grid-column: 2;
}

body .grid-section.contact .data {
    grid-column: 3;
}

body .grid-section.contact .data li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial;
}

body .grid-section.contact .data li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

body .copy {
    grid-column: 3 / 5;
    margin-bottom: 2rem;
    background: #FB5;
}

body .copy p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    body .menu {
        margin-top: 0px;
    }

    body .menu, 
    body .grid-section, 
    body .copy {
        grid-column: 1;
    }

    body .grid-section {
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }
    
    body .grid-section.animals .title, 
    body .grid-section.faq .title, 
    body .grid-section.contact .title {
        font-size: 3rem;
    }

    body .grid-section.animals .animals-list {
        grid-column: 1;
    }

    body .grid-section.faq .faq-list, 
    body .grid-section.contact .map, 
    body .grid-section.contact .data {
        grid-column: 1 / 3;
    }

    body .copy {
        margin-bottom: 0px;
    }
}

.js body .grid-section.animals .animals-description[data-tab="content"] section {
    display: none;
}

body .grid-section.animals .animals-description[data-tab="content"] section.active {
    display: block !important;
}

body .grid-section.animals .animals-description[data-tab="content"] section.active.show-right {
    animation: showRight .5s forwards;
}

body .grid-section.animals .animals-description[data-tab="content"] section.active.show-down {
    animation: showDown .5s forwards;
}

@keyframes showRight {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0px, 0px);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes showDown {
    from {
        opacity: 0;
        transform: translate3d(0px, -30px, 0px);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

.js body .grid-section.faq .faq-list[data-anime="accordion"] dd {
    display: none;
}

.js body .grid-section.faq .faq-list[data-anime="accordion"] dt::after {
    content: '⬎';
    margin-left: 10px;
}

.js body .grid-section.faq .faq-list[data-anime="accordion"] dt.active::after {
    content: '⬏';
}

.js body .grid-section.faq .faq-list[data-anime="accordion"] dd.active {
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0px;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}

.js body .grid-section.animals[data-anime="scroll"], 
.js body .grid-section.faq[data-anime="scroll"], 
.js body .grid-section.contact[data-anime="scroll"] {
    opacity: 0;
    transition: .3s;
    transform: translate3d(-30px, 0px, 0px);
}

.js body .grid-section.animals[data-anime="scroll"].active, 
.js body .grid-section.faq[data-anime="scroll"].active, 
.js body .grid-section.contact[data-anime="scroll"].active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

[data-week]::after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background: #E54;
    border-radius: 50%;
    margin-left: 4px;
    border: 2px solid #000;
}

[data-week].open::after {
    background: #3F4;
}

.btc-price {
    background: #3F4;
    padding: .2rem .5rem;
    font-weight: bold;
    border-radius: 2px;
}